<form (ngsubmit)="addition()">
<input type="text" placeholder="entreId" [(ng model)]="user.id"> <br>
<input type="text" placeholder="Name" [(ng model)]="user.name"> <br>
<input type="email" placeholder="enter email" [(ng model)]="user.email"> <br>
<input type="text" placeholder="BRANCH" [(ng model)]=" user.branch"> <br>
<input type="text" placeholder="mobilenumber" [(ng model)]="user.mobilenumber "> <br>
<button type="submit">Register</button>
</form>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>EMAIL</th>
            <th>BRANCH</th>
            <th>MOBILE NUMBER</th>
            <th>
                action
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let t of tabledata">
            <td>{{t.id}}</td>
            <td>{{t.name}}</td>
            <td>{{t.email}}</td>
            <td>{{t.branch}}</td>
            <td>{{t.mobilenumber}}</td>
            <td>
                <button>Edit</button>
                <button (click)="delete(t.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>